# Project output
fw/projects/*/gcc

# Tags
tags

# Object files
*.o
*.d
*.axf
*.bin

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
